@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Press Start 2P', monospace;
}

.font-retro {
  font-family: 'Press Start 2P', monospace;
}

.neon {
  text-shadow: 0 0 5px #fff, 0 0 10px #f0f, 0 0 20px #f0f, 0 0 40px #0ff;
}
